default_language_version:
  python: "3.13"

exclude: (^.*patches)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.6.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        exclude: .clang-format
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.0"
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: "24.4.2"
    hooks:
      - id: black

  - repo: local
    hooks:
    - id: recipe-file-ext-validation
      name: Recipe metadata files must be named 'meta.yaml', not 'meta.yml'
      entry: meta-yaml-not-yml
      language: fail
      files: ^packages/.*/meta\.yml$

ci:
  autoupdate_schedule: "quarterly"
