pytest
numpy  # pytest >= 8.4.0 seems to use numpy in approx
pytest-xdist
pytest-pyodide==0.58.3
pytest-httpserver
pytest-benchmark
auditwheel-emscripten
pytest-asyncio
./pyodide-build/
zstandard
brotli
pyodide-py
